{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>FAQs</title>
</head>

<body>
    <div class="container mt-5">
        <p style="text-align: center; font-weight: bold;">Certainly! Here are some frequently asked questions (FAQs)
            that you might consider including on a hospital
            website:
        </p><br>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif; background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        How do I schedule an appointment?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body"  style="font-family: Sans Serif;">
                        Scheduling an appointment at WellCare Hub is easy. You can call our scheduling department at
                        9456780090 during business hours or use our
                        online appointment booking system on our website. We recommend scheduling appointments in
                        advance to ensure your preferred date and time.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"  style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif; background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            How can I get tested for COVID-19?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body" style="font-family: Sans Serif;">
                            Testing for COVID-19 is available at our facility. You can schedule a test by contacting our
                            testing hotline at 9456780090 or through our online appointment system.
                            Testing criteria may apply, and our healthcare professionals will guide you through the
                            process.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif; background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            How do I schedule an appointment with a doctor?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body" style="font-family: Sans Serif;">
                            Scheduling an appointment is easy. You can call our scheduling department at 9456780090
                            during business hours or use our online appointment booking system on the website.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif;background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            What measures are in place for patient safety during the COVID-19 pandemic?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body" style="font-family: Sans Serif;">
                            We prioritize the safety of our patients and staff. Visit our "COVID-19 Updates" page for the latest information on safety protocols, 
                            visitor restrictions, and other relevant details.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif; background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            How do I know if I need medical treatment, and when should I seek care?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body" style="font-family: Sans Serif;">
                            If you are experiencing severe symptoms, such as chest pain, difficulty breathing, or sudden and intense pain, seek emergency care immediately. For less urgent concerns, contact your primary care physician to 
                            discuss your symptoms and determine the appropriate course of action.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="color: white; font-weight: bold; font-family: 'Open Sans', sans-serif; background-color: #a499d3;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            Emergency calling number?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body"style="font-family: Sans Serif;">
                           You can contact us on - 9456780090
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


</body>

</html>