{% extends 'base.html' %}

{% block main-content %}
{% load static %}

<div class="row ">
    <div class="col-8">

    {% for x in data %}
    {% if forloop.counter == 1 %}
    <form action="/updatep/{{x.id}}" method="POST">
        {% csrf_token %}
        <div class="col-md-5 shadow-lg p-3 mx-auto mt-5  ">
            {% if errmsg %}
            <div class="alert alert-danger">

                {{errmsg}}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success">

                {{success}}
            </div>
            {% endif %}
            <h5 class="bg-light text-primary p-2" style=" text-align: center; ">Customer details</h5>

            <div class="row">
                <div class="col-3">
                    <p><b>Name</b></p>
                    <p><b>email</b></p>
                </div>
                <div class="col-1">
                    <p>:</p>
                    <p>:</p>
                </div>
                <div class="col-4">
                    <p>{{x.first_name}}</p>
                    <p>{{x.username}}</p>
                </div>

                {% endif %}
                {% endfor %}

                {% for x in data1 %}
                {% if forloop.counter == 1 %}
                <form action="/updatep/{{x.id}}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-5 shadow-lg p-3 mx-auto mt-5  ">
                        {% if errmsg %}
                        <div class="alert alert-danger">

                            {{errmsg}}
                        </div>
                        {% endif %}
                        {% if success %}
                        <div class="alert alert-success">

                            {{success}}
                        </div>
                        {% endif %}
                        <h5 class="bg-light text-primary p-2" style=" text-align: center; ">Customer details</h5>

                        <div class="row" style="text-align: left;">
                            <div class="col-5">
                                <p><b>First Name</b></p>
                                <p><b>Last Name</b></p>
                                <p><b>Email</b></p>
                                <p><b>Phone Number</b></p>
                                <p><b>Address</b></p>
                            </div>
                            <div class="col-1">
                                <p>:</p>
                                <p>:</p>
                                <p>:</p>
                                <p>:</p>
                                <p>:</p>
                            </div>
                            <div class="col-4">
                                <p>{{x.firstname}}</p>
                                <p>{{x.lastname}}</p>
                                <p>{{x.uname}}</p>
                                <p>{{x.mobile}}</p>
                                <p>{{x.address}}</p>
                            </div>

                            {% endif %}
                            {% endfor %}


                            <div style="text-align: center;">
                                <button class="btn btn-success ps-5 pe-5 ">Update profile</button>
                            </div>
                        </div>

                    </div>


                    <!-- </form> -->


                </form>
            </div>

            <div class="col-3 mt-5">

                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
                <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

                <style>
                    body {
                        text-align: center;
                        color: green;

                    }

                    h2 {
                        text-align: center;
                        font-family: "Verdana", sans-serif;
                        font-size: 40px;
                    }
                </style>

                <body>
                    <div class="col-xs-12 text-center">
                        <h3>Department Chart</h3>
                    </div>
                    
                        <div id="donut-chart"></div>

                        <script>
                            let chart = bb.generate({
                                data: {
                                    columns: [
                                        ["Cardiologist", 2],
                                        ["Hepatologist", 4],
                                        ["General Physician", 2],
                                        ["Neurologist", 4],
                                    ],
                                    type: "donut",
                                    onclick: function (d, i) {
                                        console.log("onclick", d, i);
                                    },
                                    onover: function (d, i) {
                                        console.log("onover", d, i);
                                    },
                                    onout: function (d, i) {
                                        console.log("onout", d, i);
                                    },
                                },
                                donut: {
                                    title: "100",
                                },
                                bindto: "#donut-chart",
                            });
                        </script>
    

            </div>
            <div class="col-1"></div>
            </div>

            <br><br>

            {% endblock main-content %}